  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Page</h3>
  </div>
  			<%= form_for([:admin, @page], remote: true) do |f| %>

  <div class="modal-body span10" >
					<%= f.label(:title) %>
					<%= f.text_field(:title,:class=>'span5') %>
					<%= f.label(:content) %>
					<%= f.text_area(:content, :class=>'span5') %>
  </div>

  <div class="modal-footer">
       
        <%= f.submit(:class => 'btn btn-primary') %>
       <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>


  </div>
          <% end %>

</div>