<td>

	<%= page.title %> 
</td>
<td>
	<%= page.created_at.strftime("%Y-%m-%d %H:%M") %> 
</td>
<td>
		<div class='btn-group'>
			<div class='btn btn-primary btn-admin'> 
				<%= link_to('View',admin_page_path(page)) %> 
			</div>
			<div class='btn btn-info btn-admin'>
				<%= link_to('Edit', edit_admin_page_path(page)) %> 
			</div>
			<div class='btn btn-danger btn-admin'>
				<%= link_to("Delete",admin_page_path(page), method: :delete, confirm: "Are you sure?" ) %>
			</div>
		</div>
</td>