	<thead>
		<th>
			Title
		</th>
		<th>
			Created On
		</th>
		<th>

		</th>

	</thead>
	<tbody> 
		<% @pages.each do |page| %>
			<%= content_tag_for( :tr, page) do %>
			<tr>
		
			<%= render :partial => 'page_tool', :locals => {:page => page} %>
    		</tr>
			<% end %>
		<% end %>
	</tbody>


