<%= stylesheet_link_tag "admin/btn-link" %>
    <%= link_to('Create Page', new_admin_page_path, class: 'btn btn-success btn-large pull-right btn-admin', remote: true) %>
<table class='table table-striped table-condensed' id='listing'>

	<%= render('page') %>
</table>