<div class='container'>
  <div class='form-register'>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {multipart:true}) do |f| %>
  <%= devise_error_messages! %>
<h2 class='form-register-heading'>Sign up</h2>


  <%= f.email_field(:email, autofocus: true, class: 'input-block-level', placeholder: 'Email' )%>

  <%= f.text_field(:username, class: 'input-block-level', placeholder: 'User Name')%>
  <%= f.password_field(:password, class: 'input-block-level', placeholder: 'Password')%>
  <%= f.password_field(:password_confirmation, class: 'input-block-level', placeholder: 'Password Confirmation')%>
  <%= f.text_field(:givennames, class: 'input-block-level', placeholder: 'Given Names')%>
  <%= f.text_field(:familyname, class: 'input-block-level', placeholder: 'Family Name')%>
  
  <%= f.text_field(:altemail, class: 'input-block-level', placeholder: 'Alternate Email')%>
  <%= f.text_field(:social, class: 'input-block-level', placeholder: 'URL/Social Network URL')%> 
  <%= f.text_field(:phone, class: 'input-block-level', placeholder: 'Phone')%><p>
  <strong>Photograph</strong>
  <%= f.file_field(:photo)%>
  <strong>Icon</strong>
  <%= f.file_field(:icon)%></p>
  <%= f.submit("Sign up", class: 'btn btn-primary')%> <%= button_tag("Reset", class: 'btn btn-primary', type: :reset)%>
<% end %>

<%= render("devise/shared/links")%>
</div>
