<div class='span3'>
	<div class='well sidebar-nav' style='background-color: #E5E4E2'>
		<ul class='nav nav-list'>
				<li class='nav-header'>
					Contents
				</li>

        <li>
          <%= activeable_link_to_li('li','Posts', admin_posts_path) %>
        </li>
        <li>
          <%= activeable_link_to_li('li','Pages', admin_pages_path) %>

        </li>
        <li class='nav-header'>
          Users and Access Control
        </li>
        <li>
          <%= activeable_link_to_li('li','Users', admin_users_path) %>
        </li>
        <li>
          <%= activeable_link_to_li('li','Administrators', admin_admins_path) %>
        </li>

		</ul>
	</div>
</div>