<!DOCTYPE html>
<html>
<head>
  <title>CMS - Dashboard</title>
  <%= stylesheet_link_tag "admin/btn-link" %>
  <%= stylesheet_link_tag    "admin/base" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
  		<div class ='container-fluid'>
    		<div class='brand btn-admin'>
          <%= link_to("CMS - Dashboard", admin_root_path )%>
        </div>
  	        <%= render_admin_profile %>
  		</div>
  </div>
</div>
<div class='container-fluid'>
	<div class='row-fluid'>
      <%= render('sidebar')%>
  <div class='span8'>	
	 <%= yield %>
  </div>
</div>
<div id='page-modal' class='modal hide fade'></div>
</body>
</html>
