<div class='span8 well'>
<div class='row-fluid'>
<%= form_for([:admin, @post], html: {multipart: true}) do |f| %>
	<div class='span3'>
		<%= f.label(:title) %>

		<%= f.text_field(:title) %>

		<%= f.label(:icon) %>

		<%= f.file_field(:icon) %> 
	</div>
	<div class='span5 pull-right'>	
		<div class='span5'><%= f.label(:content) %></div>
		<%= f.text_area(:content) %><br>
	<%= f.submit(:class => 'btn btn-primary') %>
	<%= button_tag("Reset", type: :reset, :class => 'btn btn-danger')%>
    </div>
	<% end %>
</div>
</div>