
<%= stylesheet_link_tag "admin/btn-link" %>
<div class= 'btn btn-success btn-large pull-right btn-admin'>
<%= link_to('Create Post', new_admin_post_path) %>
</div>
<table class='table table-striped table-condensed'>
	<thead>
		<th>
			Title
		</th>
		<th>
			Created On
		</th>
		<th>

		</th>

	</thead>

<% @posts.each do |post| %>
	<tbody>
		<tr>
		<td>
			<%= post.title %> 
		</td>
		<td>
	 		<%= post.created_at.strftime("%Y-%m-%d %H:%M") %> 
		</td>
		<td>
			<div class='btn-group'>
				<div class='btn btn-primary btn-admin'> 
					<%= link_to('View',admin_post_path(post)) %> 
				</div>
				<div class='btn btn-info btn-admin'>
					<%= link_to('Edit', edit_admin_post_path(post)) %> 
				</div>
				<div class='btn btn-danger btn-admin'>
					<%= link_to("Delete",admin_post_path(post), method: :delete, confirm: "Are you sure?" ) %>
				</div>
			</div>
		</td>
    	</tr>

	</tbody>
	<% end %>

</table>
