<div class='container'>
  <div class='form-signin'>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<h2 class='form-signin-heading'>Please Sign in</h2>
  			<%= f.email_field(:email, autofocus: true, placeholder: 'Email', class: 'input-block-level') %>
  			<%= f.password_field(:password, placeholder: 'Password', class: 'input-block-level') %>
      <div class='checkbox'>
  			<% if devise_mapping.rememberable? %>
   				<%= f.check_box(:remember_me)%> 
          <%= f.label(:remember_me)%>
  			<% end %>
      </div>
		<%= f.submit("Sign in", class: 'btn btn-large btn-primary') %>
		<% end %>
		<%= render "devise/shared/links" %>
  </div>
</div>