<div class="container-fluid">
  <div class="row-fluid">
   <div class="span8">
   <% @posts.each do |post| %>	

	<h2><%= post.title %></h2>
	<p><%= post.content.first(1000)%> </p>
	<h6>  <%= "Published on "+post.created_at.strftime("%B %d %Y %H:%M %p")%> </h6> 
 	<h6>  <%= "Last Update "+post.updated_at.strftime("%B %d %Y %H:%M %p") if post.updated_at != post.created_at %> 
	</h6>

	<p><strong> By <%= post.creator %></strong></p>
	<div class="btn"><%= link_to('Continue reading',post) %></div>
   <% end %>
  </div>
  <div class="span4">
  	<script src="http://about.me/embed/vichar"></script>
  </div>	
</div>

</div>

