
<%= render('herounit') %>
<div class="row">
<% @posts.each do |post| %>	
<div class="span4">
	<h2><%= post.title %></h2>
	<p><%= image_tag(post.icon) if post.icon.length > 0 %></p>
	<p><%= post.content.first(200)%> </p>
	<div class="btn">
	 <%= link_to('Continue reading..',post) %>
	</div>
</div>
<% end %>
</div>
