<div class="container">
  <div class="row-fluid">
    <div class="span8">
		<div>
		<h1><%= @post.title %> </h1>
		<p><%= image_tag(@post.icon, :size=>"200x200") if @post.icon.length > 0 %></p>
		<p><%= @post.content %></p>

		<p><div class="btn"><%= link_to('Back',:back) %> </div></p>
		</div>
	</div>
    <div class="span4">
  		<script src="//about.me/embed/vichar"></script>
  	</div>	
  </div>
</div>