@import "bootstrap"
@import "posts"
@import "bootstrap-responsive"

body 
	padding-top: 100px
	padding-bottom: 40px
	background-color: #f5f5f5

.form-signin
	max-width: 300px
	padding: 19px 29px 29px
	margin: 0 auto 20px
	background-color: #fff
	border: 1px solid #e5e5e5
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	-webkit-border-radius: 0 1px 2px rgba(0,0,0,0.05)
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05)
	.form-sign-heading
		margin-bottom: 10px
	.checkbox
		margin-bottom: 10px
	input[type="text"]
		font-size: 16px
		height:auto
		margin-bottom: 15px
		padding: 7px 9px
	input[type="password"]
		font-size: 16px
		height:auto
		margin-bottom: 15px
		padding: 7px 9px

.form-register
	max-width: 300px
	padding: 19px 29px 29px
	margin: 0 auto 20px
	background-color: #fff
	border: 1px solid #e5e5e5
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	-webkit-border-radius: 0 1px 2px rgba(0,0,0,0.05)
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05)
	.form-register-heading
		margin-bottom: 20px
	.checkbox
		margin-bottom: 10px
	input[type="text"]
		font-size: 16px
		height:auto
		margin-bottom: 15px
		padding: 7px 9px
	input[type="password"]
		font-size: 16px
		height:auto
		margin-bottom: 15px
		padding: 7px 9px
.neutral 
	color: rgb(226, 226, 226)
	font-weight: bolder
	text-decoration: none
