
<%= stylesheet_link_tag "admin/btn-link" %>

<table class='table table-striped table-condensed'>
	<thead>
		<th>
			User
		</th>
		<th>
			Member Since
		</th>
		<th>

		</th>

	</thead>
<% @users.each do |user| %>

	<tbody>
		<tr>
		<td>
			<%= user.email %> 
		</td>
		<td>
	 		<%= user.created_at.strftime("%Y-%m-%d %H:%M") %> 
		</td>
		<td>
		<div class='btn-group'>
					<%= renderUserIndexViewButton(user) %> 		
					<%= renderAdminToggleButton(user) %> 
					<%= renderUserIndexDeleteButton(user) %>
		</div>	
		</td>
    	</tr>

	</tbody>
	<% end %>

</table>
