<li class="span12 clearfix">
  <div class="thumbnail clearfix">
    <div class="pagination-centered span3 clearfix" style='margin-right:10px'>
      <ul class='unstyled'>
        <li>
         <%= render_profile_image(@user.photo) %>
        </li>
        <li class='caption' style="color: #08c">Profile Image<li>

        <li>
          <%= render_profile_icon(@user.icon) %>
        </li>
         <li class='caption' style="color: #08c">Icon/Avatar<li>

      </ul>
  </div>
    <div class="caption" class="pull-left">
      <%= render_editable(@user.id)%>
      <h3 style="color: #08c">
      <%= @user.givennames %> 
      <%= @user.familyname %>
      </h3>
      <ul class='unstyled'>
      <li><b>Email:&nbsp</b><%= @user.email %></li>
      <li><b>Alternate Email:&nbsp</b><%=@user.altemail %></li>
      <li><b>Site/Social Network:&nbsp</b><%=@user.social %></li>
      <li><b>Phone:&nbsp</b><%= @user.phone %></li>
      </ul>
  
    </div>
  </div>
</li>
</ul><br/>


