<ul class='nav pull-right'>

 	<li>
 	 	<%= link_to("Profile", "/admin/users/#{current_user.id}" ) %>
 	</li>
	<li>
	  	<%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
  	</li>
</ul>