<div class='pull-right'>
   <div clas="btn-group">
		<%= link_to("Sign Up", new_user_registration_path, class: 'btn btn-primary') %>

		<%= link_to("Log In", new_user_session_path, class: 'btn btn-primary') %> 
   </div>
</div>	